In [4]:
# This script cleans the raw data set
# Ensure that this script has access to the raw data (retail_elec_price.csv) before running

# Loading dataframe
import pandas as pd

df = pd.read_csv('/content/sample_data/retail_elec_price.csv', skiprows=[0, 1, 2, 3, 5, 6, 7])
display(df.head())

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025,May 2025,Jun 2025,Jul 2025
0,Residential : United States,NaN,ELEC.PRICE.US-RES.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Residential : New England,cents per kilowatthour,ELEC.PRICE.NEW-RES.M,11.80,11.72,11.82,12.17,12.20,12.19,12.50,...,28.31,28.74,28.28,28.68,29.66,29.55,29.61,29.24,28.04,27.91
2,Residential : Connecticut,cents per kilowatthour,ELEC.PRICE.CT-RES.M,10.70,10.23,10.60,10.87,11.20,11.06,11.00,...,29.99,29.18,28.16,30.06,33.25,32.55,32.28,31.64,27.24,27.64
3,Residential : Maine,cents per kilowatthour,ELEC.PRICE.ME-RES.M,12.96,12.84,12.64,12.32,14.24,13.31,13.01,...,26.22,26.26,26.29,26.13,26.26,28.27,28.11,27.91,28.14,27.98
4,Residential : Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-RES.M,11.86,12.03,12.08,12.49,12.47,12.57,13.24,...,29.31,30.36,31.22,30.08,30.44,30.19,30.65,29.94,30.37,30.07

In [5]:
# Cleaning dataframe
# Dropping "source key" and "units" columbs
# Renaming "description" to "State"

df_residential = df[df['description'].str.contains('Residential', na=False)].copy()
df_residential = df_residential.drop(columns=['source key', 'units'])
df_residential['description'] = df_residential['description'].str.replace('Residential : ', '', regex=False)
df_residential = df_residential.rename(columns={'description': 'State'})
df_residential = df_residential.drop(0).reset_index(drop=True)
display(df_residential)

,State,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,...,Oct 2024,Nov 2024,Dec 2024,Jan 2025,Feb 2025,Mar 2025,Apr 2025,May 2025,Jun 2025,Jul 2025
0,New England,11.80,11.72,11.82,12.17,12.20,12.19,12.50,12.12,12.38,...,28.31,28.74,28.28,28.68,29.66,29.55,29.61,29.24,28.04,27.91
1,Connecticut,10.70,10.23,10.60,10.87,11.20,11.06,11.00,11.15,11.14,...,29.99,29.18,28.16,30.06,33.25,32.55,32.28,31.64,27.24,27.64
2,Maine,12.96,12.84,12.64,12.32,14.24,13.31,13.01,13.04,14.30,...,26.22,26.26,26.29,26.13,26.26,28.27,28.11,27.91,28.14,27.98
3,Massachusetts,11.86,12.03,12.08,12.49,12.47,12.57,13.24,12.62,12.97,...,29.31,30.36,31.22,30.08,30.44,30.19,30.65,29.94,30.37,30.07
4,New Hampshire,13.52,13.02,13.08,13.93,11.58,12.08,12.66,11.97,11.26,...,24.70,24.39,23.62,23.40,23.02,22.81,23.66,24.02,23.51,22.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Oregon,5.68,5.81,5.91,6.05,6.18,6.35,6.26,6.37,6.29,...,15.27,14.85,14.12,14.44,14.62,15.13,15.38,15.88,15.77,15.58
57,Washington,4.95,5.51,5.71,5.72,5.74,5.67,5.64,5.87,5.79,...,12.48,12.37,11.83,11.79,12.48,12.63,13.03,13.67,12.98,13.47
58,Pacific Noncontiguous,14.34,14.26,14.78,14.45,14.73,14.90,15.19,15.21,14.85,...,34.90,33.00,32.68,33.11,33.64,34.02,35.22,34.96,35.36,34.77
59,Alaska,11.22,11.39,12.21,11.98,12.13,12.31,12.42,12.79,12.20,...,25.52,24.70,22.38,24.74,24.77,25.79,25.96,26.08,26.88,27.30
60,Hawaii,16.94,16.73,16.58,16.19,16.30,16.38,16.62,16.48,16.37,...,41.27,39.62,42.34,40.51,42.69,41.11,42.44,41.03,40.96,39.36

In [6]:
# Calculating average of each year
# Identifying the month and year columns to calculate averages
month_year_cols = df_residential.columns[1:].tolist()
print(month_year_cols)

['Jan 2001', 'Feb 2001', 'Mar 2001', 'Apr 2001', 'May 2001', 'Jun 2001', 'Jul 2001', 'Aug 2001', 'Sep 2001', 'Oct 2001', 'Nov 2001', 'Dec 2001', 'Jan 2002', 'Feb 2002', 'Mar 2002', 'Apr 2002', 'May 2002', 'Jun 2002', 'Jul 2002', 'Aug 2002', 'Sep 2002', 'Oct 2002', 'Nov 2002', 'Dec 2002', 'Jan 2003', 'Feb 2003', 'Mar 2003', 'Apr 2003', 'May 2003', 'Jun 2003', 'Jul 2003', 'Aug 2003', 'Sep 2003', 'Oct 2003', 'Nov 2003', 'Dec 2003', 'Jan 2004', 'Feb 2004', 'Mar 2004', 'Apr 2004', 'May 2004', 'Jun 2004', 'Jul 2004', 'Aug 2004', 'Sep 2004', 'Oct 2004', 'Nov 2004', 'Dec 2004', 'Jan 2005', 'Feb 2005', 'Mar 2005', 'Apr 2005', 'May 2005', 'Jun 2005', 'Jul 2005', 'Aug 2005', 'Sep 2005', 'Oct 2005', 'Nov 2005', 'Dec 2005', 'Jan 2006', 'Feb 2006', 'Mar 2006', 'Apr 2006', 'May 2006', 'Jun 2006', 'Jul 2006', 'Aug 2006', 'Sep 2006', 'Oct 2006', 'Nov 2006', 'Dec 2006', 'Jan 2007', 'Feb 2007', 'Mar 2007', 'Apr 2007', 'May 2007', 'Jun 2007', 'Jul 2007', 'Aug 2007', 'Sep 2007', 'Oct 2007', 'Nov 2007', 'Dec 2007', 'Jan 2008', 'Feb 2008', 'Mar 2008', 'Apr 2008', 'May 2008', 'Jun 2008', 'Jul 2008', 'Aug 2008', 'Sep 2008', 'Oct 2008', 'Nov 2008', 'Dec 2008', 'Jan 2009', 'Feb 2009', 'Mar 2009', 'Apr 2009', 'May 2009', 'Jun 2009', 'Jul 2009', 'Aug 2009', 'Sep 2009', 'Oct 2009', 'Nov 2009', 'Dec 2009', 'Jan 2010', 'Feb 2010', 'Mar 2010', 'Apr 2010', 'May 2010', 'Jun 2010', 'Jul 2010', 'Aug 2010', 'Sep 2010', 'Oct 2010', 'Nov 2010', 'Dec 2010', 'Jan 2011', 'Feb 2011', 'Mar 2011', 'Apr 2011', 'May 2011', 'Jun 2011', 'Jul 2011', 'Aug 2011', 'Sep 2011', 'Oct 2011', 'Nov 2011', 'Dec 2011', 'Jan 2012', 'Feb 2012', 'Mar 2012', 'Apr 2012', 'May 2012', 'Jun 2012', 'Jul 2012', 'Aug 2012', 'Sep 2012', 'Oct 2012', 'Nov 2012', 'Dec 2012', 'Jan 2013', 'Feb 2013', 'Mar 2013', 'Apr 2013', 'May 2013', 'Jun 2013', 'Jul 2013', 'Aug 2013', 'Sep 2013', 'Oct 2013', 'Nov 2013', 'Dec 2013', 'Jan 2014', 'Feb 2014', 'Mar 2014', 'Apr 2014', 'May 2014', 'Jun 2014', 'Jul 2014', 'Aug 2014', 'Sep 2014', 'Oct 2014', 'Nov 2014', 'Dec 2014', 'Jan 2015', 'Feb 2015', 'Mar 2015', 'Apr 2015', 'May 2015', 'Jun 2015', 'Jul 2015', 'Aug 2015', 'Sep 2015', 'Oct 2015', 'Nov 2015', 'Dec 2015', 'Jan 2016', 'Feb 2016', 'Mar 2016', 'Apr 2016', 'May 2016', 'Jun 2016', 'Jul 2016', 'Aug 2016', 'Sep 2016', 'Oct 2016', 'Nov 2016', 'Dec 2016', 'Jan 2017', 'Feb 2017', 'Mar 2017', 'Apr 2017', 'May 2017', 'Jun 2017', 'Jul 2017', 'Aug 2017', 'Sep 2017', 'Oct 2017', 'Nov 2017', 'Dec 2017', 'Jan 2018', 'Feb 2018', 'Mar 2018', 'Apr 2018', 'May 2018', 'Jun 2018', 'Jul 2018', 'Aug 2018', 'Sep 2018', 'Oct 2018', 'Nov 2018', 'Dec 2018', 'Jan 2019', 'Feb 2019', 'Mar 2019', 'Apr 2019', 'May 2019', 'Jun 2019', 'Jul 2019', 'Aug 2019', 'Sep 2019', 'Oct 2019', 'Nov 2019', 'Dec 2019', 'Jan 2020', 'Feb 2020', 'Mar 2020', 'Apr 2020', 'May 2020', 'Jun 2020', 'Jul 2020', 'Aug 2020', 'Sep 2020', 'Oct 2020', 'Nov 2020', 'Dec 2020', 'Jan 2021', 'Feb 2021', 'Mar 2021', 'Apr 2021', 'May 2021', 'Jun 2021', 'Jul 2021', 'Aug 2021', 'Sep 2021', 'Oct 2021', 'Nov 2021', 'Dec 2021', 'Jan 2022', 'Feb 2022', 'Mar 2022', 'Apr 2022', 'May 2022', 'Jun 2022', 'Jul 2022', 'Aug 2022', 'Sep 2022', 'Oct 2022', 'Nov 2022', 'Dec 2022', 'Jan 2023', 'Feb 2023', 'Mar 2023', 'Apr 2023', 'May 2023', 'Jun 2023', 'Jul 2023', 'Aug 2023', 'Sep 2023', 'Oct 2023', 'Nov 2023', 'Dec 2023', 'Jan 2024', 'Feb 2024', 'Mar 2024', 'Apr 2024', 'May 2024', 'Jun 2024', 'Jul 2024', 'Aug 2024', 'Sep 2024', 'Oct 2024', 'Nov 2024', 'Dec 2024', 'Jan 2025', 'Feb 2025', 'Mar 2025', 'Apr 2025', 'May 2025', 'Jun 2025', 'Jul 2025']

In [7]:
# Iterate through the month_year columns to extract unique years and store them in a stored list

unique_years = set()
for col in month_year_cols:
    year = col[-4:]
    unique_years.add(year)

sorted_unique_years = sorted(list(unique_years))
print(sorted_unique_years)

['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025']

In [8]:
# Calculate yearly average for each state
yearly_averages_dict = {}
for year in sorted_unique_years:
    yearly_cols = [col for col in month_year_cols if col.endswith(year)]
    df_yearly = df_residential[yearly_cols]
    df_yearly_numeric = df_yearly.apply(pd.to_numeric, errors='coerce')
    yearly_average = df_yearly_numeric.mean(axis=1, skipna=True)
    yearly_averages_dict[year] = yearly_average

print(yearly_averages_dict)

{'2001': 0     12.095000
1     10.923333
2     13.180000
3     12.490000
4     12.460000
        ...
56     6.318333
57     5.732500
58    14.655833
59    12.167500
60    16.335833
Length: 61, dtype: float64, '2002': 0     11.244167
1     10.973333
2     12.865000
3     10.942500
4     11.905833
        ...
56     7.120000
57     6.292500
58    14.209167
59    12.097500
60    15.612500
Length: 61, dtype: float64, '2003': 0     11.701667
1     11.363333
2     12.436667
3     11.614167
4     12.008333
        ...
56     7.068333
57     6.315833
58    14.866667
59    12.014167
60    16.742500
Length: 61, dtype: float64, '2004': 0     11.916667
1     11.640000
2     12.191667
3     11.756667
4     12.535833
        ...
56     7.183333
57     6.370833
58    15.855833
59    12.495000
60    18.050000
Length: 61, dtype: float64, '2005': 0     13.445833
1     13.667500
2     13.361667
3     13.442500
4     13.557500
        ...
56     7.252500
57     6.551667
58    17.789167
59    13.342500
60    20.661667
Length: 61, dtype: float64, '2006': 0     15.995833
1     16.931667
2     13.808333
3     16.589167
4     14.722500
        ...
56     7.501667
57     6.870000
58    19.990833
59    14.925000
60    23.332500
Length: 61, dtype: float64, '2007': 0     16.713333
1     19.153333
2     16.561667
3     16.235833
4     14.890000
        ...
56     8.238333
57     7.295000
58    20.583333
59    15.226667
60    24.086667
Length: 61, dtype: float64, '2008': 0     17.689167
1     19.617500
2     16.260833
3     17.595833
4     15.716667
        ...
56     8.512500
57     7.565000
58    26.135000
59    16.675000
60    32.482500
Length: 61, dtype: float64, '2009': 0     17.500833
1     20.380833
2     15.618333
3     16.888333
4     16.405833
        ...
56     8.719167
57     7.697500
58    21.290833
59    17.181667
60    24.151667
Length: 61, dtype: float64, '2010': 0     16.248333
1     19.300000
2     15.720833
3     14.601667
4     16.345000
        ...
56     8.907500
57     8.075833
58    23.260000
59    16.291667
60    28.093333
Length: 61, dtype: float64, '2011': 0     15.897500
1     18.137500
2     15.380833
3     14.672500
4     16.540833
        ...
56     9.565833
57     8.308333
58    27.622500
59    17.708333
60    34.699167
Length: 61, dtype: float64, '2012': 0     15.728333
1     17.385000
2     14.653333
3     14.931667
4     16.095833
        ...
56     9.830000
57     8.559167
58    28.873333
59    17.954167
60    37.359167
Length: 61, dtype: float64, '2013': 0     16.233333
1     17.614167
2     14.356667
3     15.830833
4     16.365000
        ...
56     9.924167
57     8.730000
58    28.620833
59    18.185833
60    36.978333
Length: 61, dtype: float64, '2014': 0     17.853333
1     19.815833
2     15.313333
3     17.413333
4     17.588333
        ...
56    10.508333
57     8.704167
58    29.234167
59    19.291667
60    37.050000
Length: 61, dtype: float64, '2015': 0     19.433333
1     20.983333
2     15.612500
3     19.821667
4     18.494167
        ...
56    10.695000
57     9.127500
58    25.378333
59    19.919167
60    29.671667
Length: 61, dtype: float64, '2016': 0     18.850833
1     20.117500
2     15.840833
3     19.049167
4     18.406667
        ...
56    10.696667
57     9.525000
58    24.375000
59    20.320000
60    27.450000
Length: 61, dtype: float64, '2017': 0     19.435833
1     20.355833
2     15.966667
3     20.095000
4     19.242500
        ...
56    10.694167
57     9.710833
58    25.921667
59    21.335000
60    29.525833
Length: 61, dtype: float64, '2018': 0     20.630833
1     21.271667
2     16.876667
3     21.630833
4     19.730000
        ...
56    11.026667
57     9.778333
58    28.050000
59    22.005833
60    32.455000
Length: 61, dtype: float64, '2019': 0     21.145833
1     22.000000
2     17.914167
3     21.942500
4     20.105833
        ...
56    11.056667
57     9.752500
58    28.343333
59    23.000833
60    32.199167
Length: 61, dtype: float64, '2020': 0     21.290833
1     22.824167
2     16.811667
3     22.017500
4     19.080833
        ...
56    11.199167
57     9.904167
58    27.060833
59    22.666667
60    30.440833
Length: 61, dtype: float64, '2021': 0     21.546667
1     22.007500
2     17.041667
3     22.919167
4     19.915000
        ...
56    11.407500
57    10.142500
58    28.867500
59    22.645833
60    33.465833
Length: 61, dtype: float64, '2022': 0     24.806667
1     24.866667
2     22.672500
3     25.976667
4     25.705833
        ...
56    11.478333
57    10.300833
58    34.611667
59    23.217500
60    42.930833
Length: 61, dtype: float64, '2023': 0     28.820833
1     30.181667
2     27.544167
3     29.659167
4     28.165000
        ...
56    12.794167
57    11.030000
58    34.430000
59    24.025000
60    42.436667
Length: 61, dtype: float64, '2024': 0     27.646667
1     28.888333
2     23.955833
3     29.360833
4     23.405833
        ...
56    14.708333
57    11.977500
58    34.910833
59    24.902500
60    42.832500
Length: 61, dtype: float64, '2025': 0     28.955714
1     30.665714
2     27.542857
3     30.248571
4     23.315714
        ...
56    15.257143
57    12.864286
58    34.440000
59    25.931429
60    41.157143
Length: 61, dtype: float64}

In [9]:
# Creating a new column for yearly average
# iterate through the yearly_averages_dict and add each yearly average as a new column to the df_residential DataFrame
for year, yearly_average_series in yearly_averages_dict.items():
    df_residential[year] = yearly_average_series

display(df_residential.head())

,State,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,New England,11.80,11.72,11.82,12.17,12.20,12.19,12.50,12.12,12.38,...,18.850833,19.435833,20.630833,21.145833,21.290833,21.546667,24.806667,28.820833,27.646667,28.955714
1,Connecticut,10.70,10.23,10.60,10.87,11.20,11.06,11.00,11.15,11.14,...,20.117500,20.355833,21.271667,22.000000,22.824167,22.007500,24.866667,30.181667,28.888333,30.665714
2,Maine,12.96,12.84,12.64,12.32,14.24,13.31,13.01,13.04,14.30,...,15.840833,15.966667,16.876667,17.914167,16.811667,17.041667,22.672500,27.544167,23.955833,27.542857
3,Massachusetts,11.86,12.03,12.08,12.49,12.47,12.57,13.24,12.62,12.97,...,19.049167,20.095000,21.630833,21.942500,22.017500,22.919167,25.976667,29.659167,29.360833,30.248571
4,New Hampshire,13.52,13.02,13.08,13.93,11.58,12.08,12.66,11.97,11.26,...,18.406667,19.242500,19.730000,20.105833,19.080833,19.915000,25.705833,28.165000,23.405833,23.315714

In [10]:
# Calculate the average of the yearly averages across all states
# We will use the yearly_averages_dict calculated previously which contains numeric averages
average_of_yearly_averages = pd.DataFrame(yearly_averages_dict).iloc[0:].mean(axis=0)

# Create a new row for the average of all states
yearly_averages_row = pd.DataFrame(average_of_yearly_averages).T
yearly_averages_row.columns = average_of_yearly_averages.index
yearly_averages_row['State'] = 'United States'

# Concatenate the new row to the df_residential DataFrame
df_residential = pd.concat([df_residential, yearly_averages_row], ignore_index=True)



display(df_residential.tail())

,State,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
57,Washington,4.95,5.51,5.71,5.72,5.74,5.67,5.64,5.87,5.79,...,9.525000,9.710833,9.778333,9.752500,9.904167,10.142500,10.300833,11.030000,11.977500,12.864286
58,Pacific Noncontiguous,14.34,14.26,14.78,14.45,14.73,14.90,15.19,15.21,14.85,...,24.375000,25.921667,28.050000,28.343333,27.060833,28.867500,34.611667,34.430000,34.910833,34.440000
59,Alaska,11.22,11.39,12.21,11.98,12.13,12.31,12.42,12.79,12.20,...,20.320000,21.335000,22.005833,23.000833,22.666667,22.645833,23.217500,24.025000,24.902500,25.931429
60,Hawaii,16.94,16.73,16.58,16.19,16.30,16.38,16.62,16.48,16.37,...,27.450000,29.525833,32.455000,32.199167,30.440833,33.465833,42.930833,42.436667,42.832500,41.157143
61,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.530597,13.905000,14.068664,14.224340,14.234308,14.696981,16.218742,17.301651,17.644465,18.270701

In [ ]:
# Identify columns to drop (original monthly columns)
columns_to_drop = [col for col in df_residential.columns if any(month in col for month in ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])]

# Drop the monthly columns
df_residential_yearly_only = df_residential.drop(columns=columns_to_drop)

# Drop duplicate United States rows
df_residential_yearly_only = df_residential_yearly_only[df_residential_yearly_only['State'] != 'United States'].reset_index(drop=True)

# Select yearly average columns and convert to numeric
yearly_average_columns = df_residential_yearly_only.drop(columns=['State']).apply(pd.to_numeric, errors='coerce')

# Calculate the yearly average across all states
united_states_yearly_average_row = yearly_average_columns.mean(axis=0).to_frame().T

# Add the 'description' column with the value 'United States'
united_states_yearly_average_row['State'] = 'United States'

# Concatenate the new row to the DataFrame
df_residential_yearly_only = pd.concat([df_residential_yearly_only, united_states_yearly_average_row], ignore_index=True)


display(df_residential_yearly_only)

,State,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,New England,12.095000,11.244167,11.701667,11.916667,13.445833,15.995833,16.713333,17.689167,17.500833,...,18.850833,19.435833,20.630833,21.145833,21.290833,21.546667,24.806667,28.820833,27.646667,28.955714
1,Connecticut,10.923333,10.973333,11.363333,11.640000,13.667500,16.931667,19.153333,19.617500,20.380833,...,20.117500,20.355833,21.271667,22.000000,22.824167,22.007500,24.866667,30.181667,28.888333,30.665714
2,Maine,13.180000,12.865000,12.436667,12.191667,13.361667,13.808333,16.561667,16.260833,15.618333,...,15.840833,15.966667,16.876667,17.914167,16.811667,17.041667,22.672500,27.544167,23.955833,27.542857
3,Massachusetts,12.490000,10.942500,11.614167,11.756667,13.442500,16.589167,16.235833,17.595833,16.888333,...,19.049167,20.095000,21.630833,21.942500,22.017500,22.919167,25.976667,29.659167,29.360833,30.248571
4,New Hampshire,12.460000,11.905833,12.008333,12.535833,13.557500,14.722500,14.890000,15.716667,16.405833,...,18.406667,19.242500,19.730000,20.105833,19.080833,19.915000,25.705833,28.165000,23.405833,23.315714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Washington,5.732500,6.292500,6.315833,6.370833,6.551667,6.870000,7.295000,7.565000,7.697500,...,9.525000,9.710833,9.778333,9.752500,9.904167,10.142500,10.300833,11.030000,11.977500,12.864286
58,Pacific Noncontiguous,14.655833,14.209167,14.866667,15.855833,17.789167,19.990833,20.583333,26.135000,21.290833,...,24.375000,25.921667,28.050000,28.343333,27.060833,28.867500,34.611667,34.430000,34.910833,34.440000
59,Alaska,12.167500,12.097500,12.014167,12.495000,13.342500,14.925000,15.226667,16.675000,17.181667,...,20.320000,21.335000,22.005833,23.000833,22.666667,22.645833,23.217500,24.025000,24.902500,25.931429
60,Hawaii,16.335833,15.612500,16.742500,18.050000,20.661667,23.332500,24.086667,32.482500,24.151667,...,27.450000,29.525833,32.455000,32.199167,30.440833,33.465833,42.930833,42.436667,42.832500,41.157143
61,United States,8.801903,8.673962,8.899481,9.148915,9.706053,10.587170,11.028506,11.963679,11.955346,...,13.530597,13.905000,14.068664,14.224340,14.234308,14.696981,16.218742,17.301651,17.644465,18.270701

In [ ]:
df_residential_yearly_only.to_csv('preprocessed data.csv', index=False)